<form action="/questions/<%= question.id %>" method="post">
  <% if (!question.isNewRecord) { %>
    <input type="hidden" name="_method" value="PATCH" />
  <% } %>
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= question.title %>" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea
      type="text"
      id="description"
      name="description"><%= question.description %></textarea>
  </div>

  <input type="submit" value="Submit" />

</form>
